$black_text_color: black;
$white_color: white;
$header_background_color: #4f5d73;
$sidenav_background_color:#768192;
$sidenav_text_color:#d8dbe0 ;
$dasboard_item_background_color : #3399FF;
$chart_background_color: rgb(231, 231, 231);
$delete_backgroundcolor : rgb(245, 71, 71) ;
$delete_backgroundcolor_hover: rgb(253, 126, 126);